
@font-face {

   font-family: 'Action';
   src: url('/static/Action of the Time New.ttf') format('truetype');

}


h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
      font-weight: bold;

}
h2 {
  font-family: 'Action', san-serif;
  font-size: 60px;
  color: white;

}

body {
  font-family: 'Libre Baskerville', serif;
  color: white;

   /* The background image */
  background-image: url("/static/Photos/sf_crack.png");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}




/* Mouseover help bubble */

.help-tip{
    position: left;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: yellow;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before {
    content:'?';
    font-weight: bold;
    color: black;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 1.4;
}


.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

