{% extends 'base.html' %}
{% block content %}

{% if searched.tallbuilding %}

<h1><center> Is {{ searched.tallbuilding.building.address }} Doomed? </center></h1>
<h1><center> {{ doom}}  </center></h1>

<h2>Tall Building</h2>
<h2>Liquefaction Risk: <u> {{ searched.tallbuilding.liquefaction }} </u></h2>

 <h2>Flawed Construction used: <u> {{ searched.tallbuilding.at_risk }} </u></h2>

 {% endif %}

{% if searched.softstory %}

<h1><center> Is {{ searched.softstory.building.address }} Doomed? </center></h1>
<h1><center> {{ doom}}  </center></h1>

<h2>Soft Story</h2>
 <h2>Retrofit Status: <u> {{ searched.softstory.status }} </u></h2>

 {% endif %}

 <center> Scary Earthquake fact! </center>
  <center> {{ fact }} </center>

  <input type="button" class="btn btn-lg btn-success" onclick="location.href='/';" value="Back to Doom" />

{% endblock %}