{% extends 'base.html' %}
{% block content %}

<!-- Search results for a Tall Building --> 

{% if searched.tallbuilding %}


<h2>
	<center> Is {{ searched.tallbuilding.building.address }} Doomed? 
	</center>
</h2>
<h1>
	<center> {{ doom}}  
	</center>
</h1>
<div class = "row">
	<div class = "col-12 col-md-8 col-lg-8">
		<div class = "card-header">
			<table>	
				<tr>
					<td><h3>This is classified as a Tall Building</h3></td>
				</tr>
				<tr>
					<td><h3>Liquefaction Risk: <u> {{ searched.tallbuilding.liquefaction }} </u></td><td> <div class="help-tip">
				    <p>Liquefaction is a phenonmenon where the ground loses its strength and stability in response to shaking and behaves temporarily like a liquid. The effect on structures and buildings can be devastating
				    </p></section></div></h3></td>
				</tr>
				<tr>
					<td><h3>Flawed Construction used: <u> {{ searched.tallbuilding.at_risk }}     </u></h3></td>
				
				  <!-- Info mouseover about Liquifaction and Flawed Construction --> 

				<td><div class="help-tip">
				    <p>In 1994, a major defect in certain steel-frame buildings was discovered when shaking from the Northridge earthquake in Los Angeles fractured critical joints in more than 60 buildings. The building code was re-written but many pre-1990's buildings still contain the flawed technique.
				    </p></section>
		    	</div><td></tr>

		    </table>	
		</div>
	</div>
	<div class = "col-12 col-md-8 col-lg-8">
		<div class = "card-header">
		
		</div>
	</div>
</div>



 {% endif %}

 <!-- Search results for a Soft Story Building --> 

{% if searched.softstory %}

<h2><center> Is {{ searched.softstory.building.address }} Doomed? </center></h2>
<h1><center> {{ doom}}  </center></h1>
<div class = "row">
	<div class = "col-12 col-md-8 col-lg-8">
		<div class = "card-header">
			<table>	
				<tr>
					<td>
						<h3>This is a Soft Story building.</h3>
					</td>
					<td> 
						<div class="help-tip">
				    	<p>Soft Story buildings are buildings with a level that is less than 70% as stiff as the floor immediately above it. Soft story buildings are vulnerable to collapse in an earthquake in a phenomenon known as soft story collapse. While seismic retrofitting to fix this is required in San Francisco, many buildings are non-compliant.
				    	</p></section>
				    	</div>
					</td>
				</tr>
				<tr>
					<td>{% if searched.softstory.status == "Seismic Retrofitted" %}
 						<h3>Seismic Retrofitted? <u> Yes</u></h3>
						{% else %}
				 		<h3>Seismic Retrofitted? <u> No, non-compliant</u></h3>
						{% endif %}
					</td>
				
				</tr>
				<tr>
					<td>
					
						{% if searched.softstory.liquefaction %}
						<h3> Liquefaction risk? <u> Yes</u></h3>
						{% else %}
						<h3> Liquefaction risk? <u> No</u></h3>
						{% endif %}</td>
						 <td><div class="help-tip">
				   <p>Liquefaction is a phenonmenon where the ground loses its strength and stability in response to shaking and behaves temporarily like a liquid. The effect on structures and buildings can be devastating.
				    </p></section>
		    	</div></h3></td></tr>

		    </table>	
		</div>
	</div>
	<div class = "col-12 col-md-8 col-lg-8">
		<div class = "card-header">
		
		</div>
	</div>
</div>


 <!-- Info mouseover about Liquifaction and Soft Story buildings --> 

 {% endif %}

 <font size="5"><b><center> Scary Earthquake fact! </center></b>
  <center> {{ fact }} </center> </font>

  <input type="button" class="btn btn-lg btn-danger" onclick="location.href='/';" value="Back to Doom" />



{% endblock %}   