{% extends 'base.html' %}
{% block content %}
{% block head %}


<link rel="stylesheet" href="/static/css/homepage.css"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

 <style>
      #map {
        height: 90%;
        width: 80%;
        margin-left:auto;
        margin-right:auto;
         
      }
      html, body {
        height: 90%;
        margin: 0;

      }



  </style>


 <!-- App Logo --> 

  <center> <div class="wrapper">
        <div class="cracked">
          <span>DOOMMAPPER</span>
          <span>DOOMMAPPER</span>
          <span>DOOMMAPPER</span>

        </div>
      </div>

 <!-- Heading #2 Under Logo --> 

  <h2>Is your building doomed in the next 7.0+ earthquake?</h2>
  	 <form action="search" method="GET">
    <div>

 <!-- Search Box and Label --> 

     <h3><label>Search for an address in San Francisco:
        <input type="text" name="entered_address" required>
      </label>
    <button type="submit" value="Search" class="btn btn-lg btn-danger">Search</button></h3>
</center>
  </div>
  </form>

 <!-- Check boxes for toggling on and off markers and zones --> 

  <ul><form>
        	<center><div id="datacheckbox">
        	<h3><label> Soft Story Buildings </label>
            <input name="checkbox" id="soft" type="checkbox" checked="checked"></input>
            <label> Tall Buildings </label>
            <input name="checkbox" id="tall" type="checkbox"  checked="checked"></input>
            <label> Liquefaction</label>
            <input name="checkbox" id="liq" type="checkbox" checked="checked"></input></h3>
        </div></center>
        </ul>
    </div>

 <!-- Google Map Javascript file and Styling--> 

 <div id="map">
 <script src="/static/js/mapStyles.js"></script>
 <script src="/static/js/maps.js"></script>
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeNiHduiEBvQI2CnzC1dis32FDktKV4eA&callback=initMap">
  </script>
  <div class="map_wrap">
    <div class="siderbarmap">
       
</div>
{% endblock %}

{% endblock %}