{% extends 'base.html' %}
{% block content %}
{% block head %}
 <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
        width: 80%;
         
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;

      }
  </style>
  <center><h1>DOOM MAPPER</h1>

  <h2>Is your building doomed in the next 7.0+ earthquake?</h2>
  	 <form action="search" method="GET">
      <div>
      <label>Search for an address in San Francisco:
        <input type="text" name="entered_address" required>
      </label>
    </div>
      <div>
    <input type="submit" value="Search">
</center>
  </div>
  </form>
 
 <div id="map"></div>
 <script src="/static/js/maps.js"></script>
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeNiHduiEBvQI2CnzC1dis32FDktKV4eA&callback=initMap">
  </script>
  <div class="map_wrap">
    <div class="siderbarmap"><
        <ul>
        	<center>
        	<label> Soft Story Buildings </label>
            <input id="show_ss" type="checkbox" onclick="toggleGroup('softMarker')" checked="checked"></input>
            <label> Tall Buildings </label>
            <input id="show_tb" type="checkbox" onclick="toggleGroup('tallMarker')" checked="checked"></input>
            <label> Liquefaction</label>
            <input id="show_liq" type="checkbox" onclick="toggleGroup('liquefaction')" checked="checked"></input></center><
          
        </ul>
    </div>
</div>
{% endblock %}



 
<!--   <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.773972, lng: -122.431297},
          zoom: 13
        });
        var ctaLayer = new google.maps.KmlLayer({ 
    url: 'https://data.sfgov.org/api/geospatial/7ahv-68ap?method=export&format=KML', 
    map: map 
  }); 
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeNiHduiEBvQI2CnzC1dis32FDktKV4eA&callback=initMap"
    async defer></script> -!>  -->

{% endblock %}