{% extends 'base.html' %}
{% block content %}
{% block head %}
 <style>
      #map {
        height: 90%;
        width: 80%;
        margin-left:auto;
        margin-right:auto;
         
      }
      html, body {
        height: 90%;
        margin: 0;

      }

  </style>
  <center><h1>DOOM MAPPER</h1>

  <h2>Is your building doomed in the next 7.0+ earthquake?</h2>
  	 <form action="search" method="GET">
      <div>
      <label>Search for an address in San Francisco:
        <input type="text" name="entered_address" required>
      </label>
    </div>
      <div>
    <input type="submit" value="Search">
</center>
  </div>
  </form>
 
 <div id="map"></div>
 <script src="/static/js/mapStyles.js"></script>
 <script src="/static/js/maps.js"></script>
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeNiHduiEBvQI2CnzC1dis32FDktKV4eA&callback=initMap">
  </script>
  <div class="map_wrap">
    <div class="siderbarmap">
        <ul><form>
        	<center><div id="datacheckbox">
        	<label> Soft Story Buildings </label>
            <input name="checkbox" id="soft" type="checkbox" checked="checked"></input>
            <label> Tall Buildings </label>
            <input name="checkbox" id="tall" type="checkbox"  checked="checked"></input>
            <label> Liquefaction</label>
            <input name="checkbox" id="liq" type="checkbox" checked="checked"></input>
        </div></center>
        </ul>
    </div>
</div>
{% endblock %}

{% endblock %}